@model InMemoryCaching.Models.Photo
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <form asp-controller="Manage" asp-action="CreatePhotosAlbum" method="post" asp-antiforgery="true"
          class="dropzone" id="UploadForm" enctype="multipart/form-data">


        <div class="col-md-7 col-sm-12  form-box" style="direction:rtl">
            @if (TempData["ErrorMessage"] != null)
            {

            <h3 class="text-danger">@TempData["ErrorMessage"].ToString()</h3>

        }
        <a asp-controller="Manage" asp-action="ShowPhotosAlbum" asp-route-id="@ViewBag.id">
            نمایش عکس های البوم
            @ViewBag.AlbumTitel
        </a>

        <div class="form-group">

            <h3> اضافه کردن عکس جدید به البوم  @ViewBag.AlbumTitel </h3>
        </div>
        <div class="form-group">
            <label asp-for="Titel">عنوان</label>
            <input asp-for="Titel" placeholder="عنوان" class="form-control empty-check-befor-submit" style="direction:ltr; text-align:right;width:150px" />
        </div>
        <div class="form-group">
            <label asp-for="Titel">انتخاب عکس</label>
            <input name="Productphoto_file" type="file" />
        </div>

        <button id="btnSubmit" type="submit" class="btn btn-success">درج</button>
    </div>
</form>
</div>