@{
}
@{
    Layout = "~/views/shared/_layout.cshtml";
}





<div class="container"  align="center" dir="rtl">

    <h1 class="text-danger">خطا.</h1>
    <h2 class="text-danger">    هنگام بررسی درخواست شما یک خطا رخ داده است.</h2>
</div>