
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container alert alert-danger" id="ucDivError"  role="alert" style="direction:rtl;">
    
    <div style="margin-bottom: 0px;">
        <h3>          
              نمیتوانید به این قسمت دسترسی داشته باشید
       <br /><br />
        برای دسترسی به این قسمت با مدیر تماس بگیرید
        
         </h3>
    </div>

</div>