@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<!-- Top content -->



<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row" dir="rtl">
                <div class="col-sm-8  form-box">
                    
                    <h3>
                        از عضویت شما متشکریم
                        اکانت شما فعال شد
                        <br />
                    </h3>
                    <h4>                        برای دسترسی به امکانات سایت لطفا به صفحه ورود بروید 
                    </h4>
                   

                </div>
            </div>
        </div>
    </div>

</div>
